<html>
    <head></head>
    
    <body>
        <h3>Add Trips</h3>
        <form method="POST" action="/trips">
            <input type="text" placeholder="Visitting" name="title">
            <input type="text" placeholder="imageURL" name="image">
            <input type="text" placeholder="Departure Date" name="departureDate">
            <input type="text" placeholder="Returning Date" name="returnDate">
            <button>Submit</button>
        </form>
    </body>
</html>