<html>
    <head></head>
    
    <body>
        <ul id="tripsList">
        {{#allTrips}}
        <li>
            {{title}} - <img src = "{{imageURL}}" id = "image"/> - {{depDate}} - {{retDate}}
        </li>
        {{/allTrips}} 
    </ul>
    </body>
</html>